/*ブラウザがそれぞれ持っているCSSをリセットするための記述(リセットCSS)*/
* {
  margin: 0;
  padding: 0;
}

header{
    background-color: #FF9A4B;
    width: 100%;
    height: 50px;
    margin: 0 0 50px 0; /*一応中央揃えさせる*/
}

main{
  width: 960px;
  display: table;
  border-spacing: 30px 0;/*display tableの余白*/
  margin: 50px auto;
}

.contents-box{
    width: 300px;
    border-collapse: separate;
    border-spacing: 30px 0;/*display tableの余白*/
    background-color: #EEEEEE;
    display: table-cell;
}

.contents-box h3{
    padding-bottom: 5px;
}

.stepnum-box{
    width: 40px;
    background-color: #FF9A4B;
    position: fixed;
    height: inherit; /*親要素のcontens-boxに合わせる*/
}

.step-image1{
    background-size: cover;
    background-image: url(img/flow01.png);
    margin: 10px 10px 15px 10px;
    background-position: bottom;
    height: 150px;
}

.step-image2{
    background-size: cover;
    background-image: url(img/flow02.png);
    background-position: bottom;
    margin: 10px 10px 15px 10px;
    height: 150px;
}

.step-image3{
    background-size: cover;
    background-image: url(img/flow03.png);
    background-position: bottom;
    margin: 10px 10px 15px 10px;
    height: 150px;
}

.step-text{
    color: white;
    width: 40px;
    font-size: 13px;
    text-align: center;
}

footer{
  height: 50px;
  background-color: #AAAAAA;
}

@media screen and (max-width: 768px){
  header{
    width: 100%;
    background-color: #FF9A4B;
    height: 50px;
    margin: 0 auto 50px auto;
  }

  main{
    width: 100%;
    margin: 0 auto;
    border-spacing: 30px;/*display tableの余白*/
  }

  .contents-box{
    display: flex;
    flex-flow: column;
    width: 90%;
    background-color: #EEEEEE;
    margin: 0 auto 20px;
  }

  .stepnum-box{
    width: 40px;
    background-color: #FF9A4B;
    align-self: flex-start;
  }

  .step-image1{
    background-size: cover;
    background-position: center;
    height: 150px;
  }

  .step-image2{
    background-size: cover;
    background-position: center;
    height: 150px;
  }

  .step-image3{
    background-size: cover;
    background-position: center;
    height: 150px;
  }

  .step-text{
    width: 40px;
    word-break: break-all;
    text-align: center;
    padding-top: 7px;
  }

  footer{
    width: 100%;
    height: 50px;
    margin-top: 50px;
    background-color: #AAAAAA;
  }
}