/*ブラウザがそれぞれ持っているCSSをリセットするための記述(リセットCSS)*/
* {
  margin: 0;
  padding: 0;
}

header{
    background-color: #FF9A4B;
    width: 100%;
    height: 50px;
    margin: 0 0 50px 0; /*一応中央揃えさせる*/
}

main{
  width: 960px;
  display: table;
  border-spacing: 30px;/*display tableの余白*/
  margin: 0 auto;
}

.contents-box{
    width: 300px;
    background-color: #EEEEEE;
    display: table-cell;
}

.contents-box h3{
    margin: 15px 0 5px 0;
}

.stepnum-box{
    width: 45px;
    background-color: #FF9A4B;
}

.step-image1{
    margin: 10px 10px 0 10px;
    background-size: cover;
    background-image: url(img/flow01.png);
    height: 150px;
}

.step-image2{
    margin: 10px 10px 0 10px;
    background-size: cover;
    background-image: url(img/flow02.png);
    height: 150px;
}

.step-image3{
    margin: 10px 10px 0 10px;
    background-size: cover;
    background-image: url(img/flow03.png);
    height: 150px;
}

.step-text{
    color: white;
    width: 40px;
    font-size: 13px;
    text-align: center;
}

footer{
  height: 50px;
  background-color: #AAAAAA;
}

@media screen and (max-width: 768px){
  header{
    width: 100%;
    background-color: #FF9A4B;
    height: 50px;
    margin: 0 0 50px 0;
  }

  main{
    width: 90%;
    display: flex;
    flex-flow: column;
    border-spacing: 30px;/*display tableの余白*/
  }

  .contents-box{
    width: 300px;
    background-color: #EEEEEE;
    margin: 0 auto 20px;
  }

  .stepnum-box{
    width: 40px;
    background-color: #FF9A4B;
  }

  .contents-box{
    width: 300px;
    background-color: #EEEEEE;
    margin-bottom: 20px;
  }

  .step-image1{
    width: 90%;
    height: 150px;
  }

  .step-image2{
    width: 90%;
    background-size: cover;
    height: 150px;
  }

  .step-image3{
    width: 90%;
    background-size: cover;
    height: 150px;
  }

  .step-text{
    display: block;
    width: 40px;
    word-break: break-all;
    text-align: center;
    padding-top: 7px;
  }

  footer{
    width: 100%;
    height: 50px;
    margin-top: 50px;
    background-color: #AAAAAA;
  }
}